option_settings:
  aws:elasticbeanstalk:container:tomcat:jvm:
    XX:MaxRAMPercentage: 85.0
  aws:elasticbeanstalk:application:environment:
    JAVA_TOOL_OPTIONS: "-Xmx512m -Xms256m"
  
files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 100M;
      proxy_connect_timeout 600;
      proxy_send_timeout 600;
      proxy_read_timeout 600;
      send_timeout 600;
