option_settings:
  aws:elasticbeanstalk:container:docker:
    GracefulTimeout: 300
  aws:elasticbeanstalk:application:environment:
    DOCKER_STORAGE_DRIVER: devicemapper

commands:
  01_install_docker_compose:
    command: |
      if ! command -v docker-compose &> /dev/null; then
        curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        chmod +x /usr/local/bin/docker-compose
      fi
    leader_only: true

container_commands:
  01_build_app:
    command: "docker-compose build"
    leader_only: true
